@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --primary: blue;
  --white: #fff;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;
  --black: black;
  --body-text-color: var(--gray-900);
  --body-bg: var(var(--white));
}

body {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--body-text-color);
  background-color: var(--body-bg);
} */

/* @layer components {
  .btn_primary {
    @apply bg-blue-600 text-white text-lg font-medium px-6 py-3 hover:bg-blue-700 rounded-full focus:ring-4 focus:ring-red;
  }
} */
